
/*===== Banner Style =====*/

.banner-inner {
    max-width: 67%;
    float: right;
    @media(max-width: 1024px){
        max-width: 64%;
    }
    @media(max-width: 500px){
        max-width: 100%;
    }
}

.banner-inner {
    > {
        h2 + p {
            margin-top: 10px;
        }

        p {
            font-size: 1.125rem;
            line-height: 1.5rem;
            display: inline-block;
            max-width: 80%;
            color: $white;

            + a {
                margin-top: 2.5rem;
            }
        }
    }

} 