/*===== Header Styles =====*/

header {
    position: relative;
    width: 100%;
    z-index: 999;
}
.logo-info-bar-wrap{
    transition: top .2s ease-in-out;
    .logo-info-bar-inner{
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.71) 100%);
        padding: 0.703rem 0 0.703rem;
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        float: right;
        position: relative;
        display: flex;
        height: 6rem;
        .logo-info-bar{
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            justify-content: space-between;
            padding-right: 1rem;
            padding-left: 1rem;
            .logo{
                width:14rem;
            }
            .afterlogo-wrap{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: calc(100% - 14rem);
                .logo-social{
                    .social-links{
                        a{
                            background: transparent;
                        }
                    }
                }
                .aftersocials-wrap{
                    display: flex;
                    flex-wrap: wrap;
                    .call-us{
                        a{
                            color: $white;
                            font-size: 1.5rem;
                            font-weight: 900;
                        }
                    }
                    .lang-changer-wrap{
                        margin-left: 2rem;
                        margin-top: .2rem;
                    }
                }
            }
        }
        .menu-wrap{
            z-index: 1;
            position: absolute;
            width: 100vw;
            margin-left: 15rem;
            background-color: $white;
            margin-top: 3rem;
            padding: .14rem 0;
        }
    }
}

@media(max-width: 1400px){
    .logo-info-bar-wrap{
        .logo-info-bar-inner {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


.header-right-btns > a {
    color: $white;
    font-size: 1.125rem;
    display: inline-block;
    margin-left: 1rem;
}

.topbar-info-list > li i {
    margin-right: 10px;
}

.topbar {
    padding: 1rem 0;
}

.bg-color1 .topbar-info-list > li, .bg-color5 .topbar-info-list > li {
    color: #d5d5d5;
}

.topbar-info-list > li:not(:first-child) {
    margin-left: 4.0625rem;
}

.topbar-links > li {
    font-weight: 600;
    position: relative;
    font-size: 0.8125rem;
    color: #d5d5d5;

    &:not(:first-child) {
        margin-left: 1rem;
        padding-left: 1.0625rem;

        &:before {
            content: "I";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}


.logo {
    display: inline-block;
    + .social-links {
        margin-left: 9.375rem;
    }
}


.call-us {
    position: relative;
    padding-left: 1.5rem;

    > {
        i {
            font-size: 1.125rem;
            color: $white;
            margin-top: .55rem;
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(45deg);
        }

        span {
            display: block;
            color: #777;
            font-size: 0.875rem;
        }

    }
}


.header-right-btns > a.get-quote {
    display: block;
    line-height: 3.75rem;
    font-size: 0.875rem;
    padding: 0 1rem;
    background-color: #906F2A;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 80%;
        bottom: 0;
        background-color: #000;
        opacity: 0;
        z-index: -1;
    }

    &:hover:before, &:focus:before {
        right: 0;
        opacity: .3;
    }

    i {
        margin: 0 8px;
    }

    &:hover, &:focus, &:hover i, &:focus i {
        color: $white;
    }
}

/*=== Sticky Header ===*/

.sticky-menu {
    position: fixed;
    top: -5rem;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}

body.sticky .sticky-menu {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.sticky-menu{
    nav > div > ul > li {
        line-height: 4.3rem;

        &:last-child {
            margin-right: 0;
        }
    }
    .logo{
        width: 10rem;
        + div{
            width: calc(100% - 10rem);
        }
    }
}



/*===== Responsive Header =====*/

.rspn-hdr {
    display: none;
    width: 100%;
    position: relative;
    z-index: 999;
    background: $black;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.71) 100%);
}

@media (max-width: 1035px){
    .rspn-hdr {
        display: block;
        position: fixed;
    }
}

.rspn-mdbr {
    background-color: #252a2c;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rspn-scil {
    display: inline-flex;

    > a {
        background-color: rgba(255, 255, 255, 0.05);
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        color: $white;

        &:not(:first-child) {
            margin-left: 1px;
        }
    }
}

.rspn-srch {
    height: 2.5rem;
    position: relative;
    flex: 0 0 calc(100% - 10.1875rem);
    max-width: calc(100% - 10.1875rem);

    > {
        input {
            background-color: transparent;
            border: 0 none;
            color: #7e7e7e;
            font-size: .75rem;
            height: 100%;
            padding: 0 3.125rem 0 5%;
            width: 100%;

            &:focus {
                font-style: normal;
            }
        }

        button {
            background-color: transparent;
            border: 0;
            color: #999;
            font-size: .75rem;
            height: 100%;
            position: absolute;
            right: 10px;
        }
    }
}

.lg-mn {
    padding: .5rem 5rem .5rem 1rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.rspn-cnt {
    display: inline-block;

    > span {
        color: $white;
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.3rem;
    }
    .call-us{
        i{
            margin-top: 0.39rem;
        }
    }
    .social-links{
        a{
            font-size: 1rem;
            line-height: 2.1rem;
            width: 2rem;
            height: 2rem;
            background: #1d353e;
        }
    }
}

@media(max-width: 560px){
    .rspn-hdr{
        .social-links{
            display: none;
        }
        .lg-mn{
            padding: .5rem 3rem .5rem 1rem;
        }
    }
}
@media(max-width: 400px){
    .rspn-hdr{
        .logo{
            max-width: 38.5%;
        }
        .rspn-cnt{
            > span{
                font-size: 1rem;
            }
            .call-us{
                i{
                    margin-top: .2rem;
                    font-size: 1rem;
                }
            } 
        }
    }
    
}

.rspn-mnu-btn {
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    position: absolute;
    right: .5rem;
    text-align: center;
    top: 50%;
    width: 2.5rem;
    margin-top: -1.25rem;
}

/*=== Responsive Menu ===*/

.rsnp-mnu {
    background-color: #0c0c0c;
    bottom: 0;
    opacity: 0;
    padding: 5.3125rem 2.5rem 3.125rem;
    position: fixed;
    right: -21.875rem;
    top: 0;
    visibility: hidden;
    z-index: 999;
    max-width: 21.875rem;
    width: 100%;

    &.slidein {
        opacity: 1;
        right: 0;
        visibility: visible;
    }
}

.rspn-mnu-cls {
    background-color: #303030;
    color: $white;
    cursor: pointer;
    font-size: 0.875rem;
    height: 2.5rem;
    line-height: 2.5rem;
    position: absolute;
    right: .75rem;
    text-align: center;
    top: .75rem;
    width: 2.5rem;
}

.rsnp-mnu {
    > ul {
        display: inline-block;
        list-style: outside none none;
        margin-bottom: 0;
        padding-left: 0;
        overflow-y: auto !important;
        width: 100% !important;

        > li {
            color: $white;
            font-size: 1rem;
            font-weight: 600;
            position: relative;
            text-transform: uppercase;
            width: 100%;

            a {
                color: inherit;
                display: block;
            }

            &:not(:first-child) {
                margin-top: 1.25rem;
            }
        }

        ul {
            display: none;
            list-style: outside none none;
            margin-bottom: 0;
            padding-left: 1.25rem;
            opacity: 1;
            position: static;
            visibility: visible;
        }
    }

    ul li.menu-item-has-children.active > a {
        margin-bottom: 15px;
    }

    > ul {
        li.menu-item-has-children > a::before {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            right: 0;
            top: 0;
            color: inherit;
            font-weight: 900;
        }

        ul > li {
            color: #a4a4a4;
            font-size: 0.9375rem;
            position: relative;
            text-transform: initial;
            width: 100%;
            font-weight: 400;

            &:not(:first-child) {
                margin-top: .75rem;
            }
        }
    }
}

// ====== header in manin ====///

.feat-img {
    top: 0;
    background-size: cover;
    background-position: 0 100%;
    width: 100%;
    transition: all 2s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.5);
    height: 100%;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: .6;
        z-index: -1;
    }
}

.feat-cap {
    position: relative;
    background: radial-gradient(66.62% 64.54% at 33.09% 50%, #A78C2B 0%, rgba(147, 112, 45, 0.91) 100%);
    opacity: 0.94;
    padding: 3rem;
    margin-bottom: 5rem;
    > {

        h1 + p, h2 + p {
            margin-top: 10px;
        }

        p {
            font-size: 1.125rem;
            line-height: 2rem;
            color: #fff;

            + .feat-cap-innr {
                margin-top: 2.5rem;
            }
        }
    }
}

.feat-cap-innr > a + a {
    margin-left: 1.25rem;
}

@media(max-width: 768px){
    .feat-cap {
        margin-bottom: 0;
    }
}
