/*===== Pagination =====*/
.pagination-wrap{
    margin-top: 1rem;
    nav{
        padding: 0;
    }
}
.pagination {
    margin: -5px;
    border-radius: 0;
    text-align: center;

    li.page-item {
        font-size: 13px;
        color: #333333;
        margin: 5px;
        font-weight: 500;

        a.page-link {
            border: 1px solid #e5e5e7;
            border-radius: 3px !important;
            padding: 0;
            width: 1.875rem;
            height: 1.875rem;
            line-height: 1.875rem;
            color: inherit;

            &:hover, &:focus, &.active {
                background-color: $color-1;
                border-color: $color-1;
                color: #fff;
            }
        }

        &.active > a.page-link {
            background-color: $color-1;
            border-color: $color-1;
            color: #fff;
        }
    }
}
