/*===== Services Style 1 =====*/
.prefs-col{
    max-width: 20rem;
    margin-bottom: 1.5rem;
}
.prefs-box {
    display: flex;
    position: relative;
    min-height: 22rem;
    overflow: visible;

    .prefs-box-inner {

        position: absolute;
        background: $white;
        margin: -0.8rem;
        min-height: 23rem;
        padding: 2rem;

        .thm-clr{
            font-size: 6rem;
            color: #eee;
            font-weight: 900;
            line-height: 1.2;
            font-style: normal;
        }
        .thm-subheader{
            font-size: 1.25rem;
            color: $black;
            line-height: 1.313rem;
            margin-bottom: .5rem;
        }
        p{
            font-size: 1rem;
            line-height: 1.5rem;
            color: $black;
        }
        h3{
            color: $color-theme;
            font-size: 1.625rem;
            line-height: 1.5rem;
        }
        
        &:hover{
            &:after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: -2rem;
                z-index: 1;
                border: 2rem solid rgba(99, 61, 1, 0.24);
            }
        }
        
    }
    &.prefs-box-odd{
        .prefs-box-inner {
            background: #F5F5F5;
        }
    }
}
@media(min-width: 576px){
    .prefs-box {
        &.prefs-box-odd{
            padding-top: 2rem; 
        }
    }
}
