/*=== General Styling ===*/

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr-black.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/helveticaneuecyr-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/helveticaneuecyr-black.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/helveticaneuecyr-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/helveticaneuecyr-black.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/helveticaneuecyr-black.svg#helveticaneuecyr-black') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/helveticaneuecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr-light.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/helveticaneuecyr-light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/helveticaneuecyr-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/helveticaneuecyr-light.svg#helveticaneuecyr-light') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 200;
    font-style: normal;
}


body, html {
    overflow-x: hidden;
}

body {
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    // for privent scrolling if modal is open
    &.modal-open{
        overflow: hidden;
        padding-right: 0!important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
}

p {
    font-family: Roboto;
    color: $black;
    line-height: 1.5rem;
    font-size: 1rem;
}

ul li, ol li {
    font-family: Roboto;
    color: $black;
    font-size: 0.975rem;
    line-height: 1.5rem;
}

a {
    color: inherit;

    &:hover, &:focus {
        text-decoration: none;
        outline: none;
        color: $color-theme;
    }
}

ins {
    text-decoration: none;
    outline: none;
}

input, textarea, select {
    border: 0;
}

button {
    border: 0;
    cursor: pointer;
}

input[type="submit"], .fileContainer {
    cursor: pointer;
}

input {
    &[type="file"] {
        cursor: pointer;
    }

    &:focus {
        border-color: transparent;
        outline: none !important;
        box-shadow: none !important;
    }
}

textarea:focus, select:focus, button:focus, a:focus, .form-wrp fieldset p a:focus, .page-link:focus {
    border-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}

.btn {
    &.focus, &:focus {
        border-color: transparent;
        outline: none !important;
        box-shadow: none !important;
    }
}

.bootstrap-select .dropdown-toggle:focus {
    border-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}

textarea {
    resize: none;
}

main, section, footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
    width: 100%;
}
strong {
    font-weight: 700;
}
iframe {
    border: 0;
    width: 100%;
}
