.font-weight-hairline {
    font-weight: 100;
}

.font-weight-thin {
    font-weight: 200;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-semibold {
    font-weight: 600;
}

.font-weight-extrabold {
    font-weight: 800;
}

.font-weight-black {
    font-weight: 900;
}

.font-style-italic {
    font-style: italic;
}

.font-style-normal {
    font-style: normal;
}
