/*=== Opacity ===*/

.opc1:before {
    opacity: .1;
}

.opc15:before {
    opacity: .15;
}

.opc2:before {
    opacity: .2;
}

.opc25:before {
    opacity: .25;
}

.opc3:before {
    opacity: .3;
}

.opc35:before {
    opacity: .35;
}

.opc4:before {
    opacity: .4;
}

.opc45:before {
    opacity: .45;
}

.opc5:before {
    opacity: .5;
}

.opc55:before {
    opacity: .55;
}

.opc6:before {
    opacity: .6;
}

.opc65:before {
    opacity: .65;
}

.opc7:before {
    opacity: .7;
}

.opc75:before {
    opacity: .75;
}

.opc8:before {
    opacity: .8;
}

.opc85:before {
    opacity: .85;
}

.opc9:before {
    opacity: .9;
}

.opc95:before {
    opacity: .95;
}

.opc97:before {
    opacity: .97;
}

.opc99:before {
    opacity: .99;
}
