/*=== Width ===*/

.wdth5 {
    width: 5%;
}

.wdth10 {
    width: 10%;
}

.wdth15 {
    width: 15%;
}

.wdth20 {
    width: 20%;
}

.wdth25 {
    width: 25%;
}

.wdth30 {
    width: 30%;
}

.wdth35 {
    width: 35%;
}

.wdth40 {
    width: 40%;
}

.wdth45 {
    width: 45%;
}

.wdth50 {
    width: 50%;
}

.wdth55 {
    width: 55%;
}

.wdth60 {
    width: 60%;
}

.wdth65 {
    width: 65%;
}

.wdth70 {
    width: 70%;
}

.wdth75 {
    width: 75%;
}

.wdth80 {
    width: 80%;
}

.wdth85 {
    width: 85%;
}

.wdth90 {
    width: 90%;
}

.wdth95 {
    width: 95%;
}

.wdth100 {
    width: 100%;
}

.wow {
    visibility: hidden;
}
