.pg-oneroom{
    &.white-layer-hor{
        &:before{
            background: #fff;
            background: linear-gradient(180deg,rgba(255,255,255,1) 70%,rgba(252,252,252,0) 140%);
        }
    }
    .row-shadow{
        box-shadow: 0 21px 33px -11px rgba(74, 53, 20, 0.22);
        border: 1px solid #ecedef;
        .image-box-container{
            .image-box{
                margin: -1.5px -15px;
            }
        }
    }
}