/*=== Google Fonts ===*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*=== General Variables ===*/

:root {
    --color1:#121a37;
    --color2:#ff5e15;
    --color3:#ffa800;
    --color4:#21a010;
    --color5:#0a1024;
    --color6:#070b1b;
    --color7:#050918;
    --color8:#ffc600;
    --color9:#c40172;
    --color10:#990fff;
    --color11:#ff7500;
    --color12:#0072b1;
    --color13:#55a61d;
    --color14:#e90133;
    --color15:#02728e;
    --color16:#1ec8bf;
    --color17:#ff4747;
    --color18:#ffe27a;
    --color19:#1f5abc;
    --transition:all 0.2s cubic-bezier(0.19, 0.68, 0.49, 1.21);
    --transition2:all .3s linear;
    --pill:2.5rem;
    --round:50%;
    --curve:3px;
    --full:100%;
}

.bg-color1 {
    background-color: $color-1;
}

.text-color1 {
    color: $color-1;
}

/*===== Background Color =====*/
/*----- light -------*/
.social-links > a:hover,
.social-links > a:focus,
{
    background-color: $color-theme-light;
}
/* ----- dark ----- */
.thm-bg,
.about-image > span,
.solutions-list > li:hover > i,
header.style2 .header-right-btns > a.get-quote,
.team-social > a,
.about-image > a:hover,
.about-image > a:focus,
.post-detail-gallery-video-box > a:hover,
.post-detail-gallery-video-box > a:focus,
.tagclouds > a:before,
.widget2 ul li > a:after,
.widget-video-box > a,
.widget-video-box > a:before,
.widget-video-box > a:after,
.tagclouds > a:before,
.rspn-scil > a:hover,
.rspn-scil > a:focus,
.rspn-mnu-cls:hover,
.rspn-mnu-cls:focus,
/* .getin-touch-blob:before,
.getin-touch-blob:after, */
.bootstrap-select .dropdown-menu li a.dropdown-item.active, 
.bootstrap-select .dropdown-menu li a.dropdown-item:active,
.bootstrap-select .dropdown-menu li a:hover,
.bootstrap-select .dropdown-menu li a:focus,
.serv-box2:hover:before,
header.style2 .social-links > a:hover,
header.style2 .social-links > a:focus
{
    background-color: $color-theme;
}

/*===== Text Color =====*/
.sticky-menu nav ul li:hover > a,
.sticky-menu nav ul li.active > a,
.sticky-menu nav ul li > a:focus,

.topbar-info-list > li a:hover,
.topbar-info-list > li a:focus,
.rsnp-mnu ul > li:hover > a,
.rsnp-mnu ul > li.active > a,
.rsnp-mnu ul > li > a:focus,
.testi-img::before,
.toggle-item.active > h4,
.toggle-item > h4:hover,
.post-info > h3 a:hover,
.post-info > h3 a:focus,
.post-info-bottom > span a:hover,
.post-info-bottom > span a:focus,
.post-meta > li a:hover,
.post-meta > li a:focus,
.social-links2 > a:hover,
.social-links2 > a:focus,
.widget ul li:hover > a,
.widget ul li > a:focus,
.copyright p a:hover,
.copyright p a:focus,
.team-info > h3 a:hover,
.team-info > h3 a:focus,
.about-image > a,
.contact-info-box > a:hover,
.contact-info-box > a:focus,
blockquote,
.detail-share > a:hover,
.detail-share > a:focus,
.comment-reply-link:hover,
.comment-reply-link:focus,
.widget2 form button:hover,
.widget2 form button:focus,
.widget2 ul li:hover > a,
.widget2 ul li > a:focus,
.blog-mini-post-info > h4 a:hover,
.blog-mini-post-info > h4 a:focus,
.post-detail-gallery-video-box > a,
.filter-inner > a:hover,
.filter-inner > a:focus,
.review-link > a:hover,
.review-link > a:focus,
.price-stock .price ins,
.product-cart-btns > a:hover,
.product-cart-btns > a:focus,
.product-table td h4 a:hover,
.product-table td h4 a:focus,
.qty-wrp .bootstrap-touchspin span.input-group-btn button:hover,
.qty-wrp .bootstrap-touchspin span.input-group-btn button:focus,
.rspn-srch > button:hover,
.rspn-srch > button:focus,
.rspn-cnt > span a:hover,
.rspn-cnt > span a:focus,
.post-info-bottom > span i, 
.post-meta > li i,
h2.thm-clr
{
    color: $color-theme;
}

/*===== Border Color =====*/
.thm-brd-clr,
.about-image > span:before
{
    border-color: $color-theme;
    border-top-color: $color-theme;
    border-bottom-color: $color-theme;
    border-left-color: $color-theme;
    border-right-color: $color-theme;
}

/*=== Overlap ===*/

.overlap-99 {
    position: relative;
    z-index: 1;
    margin-bottom: -6.24375rem;
}

/*=== Default Colors ===*/

.dark-bg {
    background-color: $black;
}

/*=== Parallax Background ===*/

.fixed-bg, .parallax-bg {
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.fixed-bg {
    background-attachment: scroll;
    background-size: cover;
}

.parallax-bg {
    background-attachment: fixed;
    background-size: contain;
}

.back-post-cntrbtm-norpet {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.back-post-cntrbtm {
    background-position: center bottom;
}

.back-post-lftcntr {
    background-position: left center;
}

.fixed-bg.patern-bg, .parallax-bg.patern-bg {
    background-size: initial;
}

.fixed-bg.bg-norepeate {
    background-size: initial;
    background-repeat: no-repeat;
}

.back-blend-soft-light {
    background-blend-mode: soft-light;
}

.back-blend-difference {
    background-blend-mode: difference;
}

.back-blend-screen {
    background-blend-mode: screen;
}

.back-blend-multiply {
    background-blend-mode: multiply;
}

.back-blend-subtract {
    background-blend-mode: subtract;
}

.paralx-70 .fixed-bg {
    height: 70%;
}

.h-tem + .particles-js {
    max-height: 35.375rem;
}

.h-tst + .particles-js {
    max-height: 34.6875rem;
}

/*=== Border Radius ===*/

.brd-rd20 {
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
}

.brd-rd10 {
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
}

.brd-rd5, .serv-box2, .solutions-wrap img, .post-img, .proj-thumb, .about-image > img, .post-detail > img, .widget-video-box > a, .post-detail-gallery-video-box > img, .comment, .solutions-list > li > i, .serv-detail-desc a, .detail-gal a, blockquote {
    -webkit-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
}


.simple-btn, .contact-info-wrap, .contact-map {
    -webkit-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
}

.brd-rd3 {
    -webkit-border-radius: 0.1875rem;
    border-radius: 0.1875rem;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.dropdown-menu {
    border: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 0;
}

.bootstrap-select .dropdown-menu li {
    line-height: initial;

    &:nth-child(2n) {
        background-color: #f5f5f5;
    }

    a {
        padding: 6px 1.5rem;

        &.dropdown-item {
            &.active, &:active {
                color: #fff !important;
            }
        }

        &:hover, &:focus {
            color: #fff !important;
        }
    }
}

/*=== Particles ===*/

.particles-js, .particles-js2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*=== Animations ===*/
@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-animation {
    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        -webkit-transform: rotateX(0deg) translateY(15px);
        -ms-transform: rotateX(0deg) translateY(15px);
        -o-transform: rotateX(0deg) translateY(15px);
        transform: rotateX(0deg) translateY(15px);
    }

    100% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }
}

@-webkit-keyframes slide-animation {
    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        -webkit-transform: rotateX(0deg) translateY(-10px);
        -ms-transform: rotateX(0deg) translateY(-10px);
        -o-transform: rotateX(0deg) translateY(-10px);
        transform: rotateX(0deg) translateY(-10px);
    }

    100% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }
}

.slide-animation {
    -webkit-animation: 5s slide-animation infinite;
    -ms-animation: 5s slide-animation infinite;
    -o-animation: 5s slide-animation infinite;
    animation: 5s slide-animation infinite;
}

/*=== Pulse Animation ===*/

.spinner {
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4.0625rem;
        margin-left: -4.0625rem;
        background-color: inherit;
        -webkit-animation: pluse 2s linear infinite;
        -ms-animation: pluse 2s linear infinite;
        -o-animation: pluse 2s linear infinite;
        animation: pluse 2s linear infinite;
        width: 8.125rem;
        height: 8.125rem;
        -webkit-border-radius: inherit;
        border-radius: inherit;
        opacity: 0;
        z-index: -2;
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4.0625rem;
        margin-left: -4.0625rem;
        background-color: inherit;
        -webkit-animation: pluse 2s linear infinite;
        -ms-animation: pluse 2s linear infinite;
        -o-animation: pluse 2s linear infinite;
        animation: pluse 2s linear infinite;
        width: 8.125rem;
        height: 8.125rem;
        -webkit-border-radius: inherit;
        border-radius: inherit;
        opacity: 0;
        z-index: -2;
        -webkit-animation: pluse 2s linear 2.3s infinite;
        -ms-animation: pluse 2s linear 2.3s infinite;
        -o-animation: pluse 2s linear 2.3s infinite;
        animation: pluse 2s linear 2.3s infinite;
        -webkit-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
}

@-webkit-keyframes pluse {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

@-ms-keyframes pluse {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

@-o-keyframes pluse {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pluse {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

/*=== Zoom Animation ===*/

.zoom-anim {
    -webkit-animation: zoom 8s linear infinite;
    -ms-animation: zoom 8s linear infinite;
    -o-animation: zoom 8s linear infinite;
    animation: zoom 8s linear infinite;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/*=== Blob Animation ===*/
@-webkit-keyframes blob {
    0%, 100% {
        -webkit-border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
        border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
    }

    25% {
        -webkit-border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
        border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
    }

    50% {
        -webkit-border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
        border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
    }

    75% {
        -webkit-border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
        border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
    }
}

@-ms-keyframes blob {
    0%, 100% {
        -webkit-border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
        border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
    }

    25% {
        -webkit-border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
        border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
    }

    50% {
        -webkit-border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
        border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
    }

    75% {
        -webkit-border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
        border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
    }
}

@-o-keyframes blob {
    0%, 100% {
        -webkit-border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
        border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
    }

    25% {
        -webkit-border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
        border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
    }

    50% {
        -webkit-border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
        border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
    }

    75% {
        -webkit-border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
        border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
    }
}

@keyframes blob {
    0%, 100% {
        -webkit-border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
        border-radius: 44% 56% 47% 53% / 30% 47% 53% 70%;
    }

    25% {
        -webkit-border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
        border-radius: 47% 53% 44% 56% / 53% 70% 30% 47%;
    }

    50% {
        -webkit-border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
        border-radius: 30% 47% 53% 70% / 44% 56% 47% 53%;
    }

    75% {
        -webkit-border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
        border-radius: 53% 70% 30% 47% / 47% 53% 44% 56%;
    }
}

/*=== Blob 2 Animation ===*/
@-webkit-keyframes blob2 {
    0%, 100% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    25% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    50% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }

    75% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }
}

@-ms-keyframes blob2 {
    0%, 100% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    25% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    50% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }

    75% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }
}

@-o-keyframes blob2 {
    0%, 100% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    25% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    50% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }

    75% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }
}

@keyframes blob2 {
    0%, 100% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    25% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    50% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }

    75% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }
}

/*=== Blob 3 Animation ===*/
@-webkit-keyframes blob3 {
    0%, 100% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    25% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    50% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }

    75% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }
}

@-ms-keyframes blob3 {
    0%, 100% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    25% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    50% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }

    75% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }
}

@-o-keyframes blob3 {
    0%, 100% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    25% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    50% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }

    75% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }
}

@keyframes blob3 {
    0%, 100% {
        -webkit-border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
        border-radius: 65% 30% 70% 30% / 45% 45% 55% 35%;
    }

    25% {
        -webkit-border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
        border-radius: 70% 30% 65% 30% / 55% 35% 45% 45%;
    }

    50% {
        -webkit-border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
        border-radius: 45% 45% 55% 35% / 65% 30% 70% 30%;
    }

    75% {
        -webkit-border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
        border-radius: 55% 35% 45% 45% / 70% 30% 65% 30%;
    }
}


/*=== Line Animations ===*/

.lines {
    position: absolute;
    top: 0;
    left: 6.25rem;
    right: 6.25rem;
    height: 100%;
    margin: auto;
    z-index: -2;

    .line {
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        background: rgba(18, 26, 55, 0.1);
        overflow: hidden;

        &:nth-child(1) {
            left: 0;
        }

        &:nth-child(2) {
            left: 10%;
        }

        &:nth-child(3) {
            left: 20%;
        }

        &:nth-child(4) {
            left: 30%;
        }

        &:nth-child(5) {
            left: 40%;
        }

        &:nth-child(6) {
            right: 50%;
        }

        &:nth-child(7) {
            right: 40%;
        }

        &:nth-child(8) {
            right: 30%;
        }

        &:nth-child(9) {
            right: 20%;
        }

        &:nth-child(10) {
            right: 10%;
        }

        &:nth-child(11) {
            right: 0%;
        }
    }
}


/*===== Featured Area Style 1 =====*/

.feat-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    padding: 10.8125rem 0;
}



/*===== About Style 1 =====*/

.about-desc > {
    h2 {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 400;

        + p {
            margin-top: 0.875rem;
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.8rem;
        max-width: 84%;
        color: #414042;
    }
}

.about-content-wrap + .about-image {
    margin-top: 4.6875rem;
}


.post-detail-gallery-video-box > a {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    line-height: 6.4375rem;
    width: 6.4375rem;
    height: 6.4375rem;
    text-align: center;
    font-size: 1.25rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-image > a {
    &:hover, &:focus {
        color: #fff;
    }
}

.post-detail-gallery-video-box > a {
    &:hover, &:focus {
        color: #fff;
    }
}

/*===== About Style 2 =====*/

.about-wrap.style2 {
    .about-desc, .serv-wrap {
        padding-right: 4.375rem;
    }

    .about-image > span {
        left: 50%;
        transform: translateX(-50%);
        top: 3.125rem;
    }
}


/*===== Solutions Style =====*/

.solutions-content-wrap {
    padding-left: 6.25rem;

    > h2 {
        font-size: 2rem;

        + ul {
            margin-top: 0.9375rem;
        }
    }
}

.solutions-list > li {
    padding: 1.5625rem 0 .75rem 2.5rem;
    position: relative;
    border-bottom: 1px solid #ecedef;

    > i {
        position: absolute;
        left: 0;
        top: 1.5625rem;
        height: 1.5625rem;
        width: 1.5625rem;
        line-height: 1.5625rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: $color-1;
        background-color: #ecedef;
        text-align: center;
    }

    &:hover > i {
        color: #fff;
    }

    > h4 {
        font-size: 1.125rem;
        font-weight: 400;

        + p {
            margin-top: 1.25rem;
        }
    }
}

/*===== Testimonials Style 1 =====*/

.testi-wrap > h2 {
    text-align: center;
    font-size: 3rem;
}

.dark-layer2 .testi-wrap > h2 {
    color: #fff;
}

.testi-box-wrap {
    padding: 0 0.9375rem;
}

.testi-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
}

.testi-wrap > h2 + {
    .testi-caro, .row {
        margin-top: 3.125rem;
    }
}

.testi-img {
    flex: 0 0 10.625rem;
    max-width: 10.625rem;
    position: relative;
    padding-top: 10px;

    + .testi-info {
        padding-left: 1.875rem;
    }

    &:before {
        content: "\f122";
        font-family: "Flaticon";
        font-size: 3.125rem;
        position: absolute;
        right: 0;
        top: -.9375rem;
        z-index: 1;
    }
}

.testi-info > h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.dark-layer2 .testi-info > {
    h3 {
        color: #fff;
    }

    p {
        color: #d0d0d0;
    }
}

.testi-info > {
    p {
        font-size: 1rem;
        line-height: 2rem;
    }

    h3 + p {
        margin-top: 0.9375rem;
    }

    p + span {
        margin-top: 1.375rem;
    }

    span {
        font-size: 13px;

        span {
            margin-left: 10px;
            font-size: 14px;
        }
    }
}


/*===== Blog Style =====*/

.post-box {
    margin-bottom: 3.125rem;
}

.post-img > a {
    display: block;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $color-1;
        opacity: .05;
    }
}

.post-img + .post-info {
    margin-top: 1.4375rem;
}

.post-info > {
    h3 {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 400;

        + p {
            margin-top: .75rem;
        }
    }

    p {
        display: inline-block;
        max-width: 80%;

        + .post-info-bottom {
            margin-top: 1.5625rem;
        }
    }
}

.post-info-bottom {
    border-top: 1px solid #ecedef;
    border-bottom: 1px solid #ecedef;
    justify-content: space-between;
    padding: .75rem 0;

    > span {
        font-size: 14px;
        color: #777;
    }
}

.post-meta > li {
    font-size: 14px;
    color: #777;
}

.post-info-bottom > span i {
    margin-right: 7px;
}

.post-meta > li {
    i {
        margin-right: 7px;
    }

    &:not(:first-child) {
        margin-left: 2rem;
    }
}

/*===== Clients Sstyle =====*/

.client-box {
    margin-bottom: 3.125rem;
    text-align: center;

    > a {
        display: inline-block;

        img {
            -webkit-filter: grayscale(1);
            -ms-filter: grayscale(1);
            -o-filter: grayscale(1);
            filter: grayscale(1);
            opacity: .5;
        }

        &:hover img {
            -webkit-filter: grayscale(0);
            -ms-filter: grayscale(0);
            -o-filter: grayscale(0);
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

/*===== Team Style =====*/

.team-caro, .team-caro2 {
    margin: 0 -.9375rem;
}

.team-wrap.d-flex > li {
    flex: 0 0 20%;
    max-width: 20%;
}

.team-box {
    padding: 0 .9375rem;
}

.team-social {
    left: 0;
    right: 0;
    bottom: -3.125rem;
    opacity: 0;

    > a {
        display: inline-block;
        color: #fff;
        height: 3.25rem;
        width: 3.25rem;
        text-align: center;
        line-height: 3.25rem;
        font-size: .875rem;

        &:hover, &:focus {
            background-color: $color-1;
        }
    }
}

.team-box:hover .team-social {
    opacity: 1;
    bottom: 10px;
}

.team-img + .team-info {
    margin-top: .9375rem;
}

.team-info > {
    h3 {
        font-size: 1.125rem;
        font-weight: 500;

        + span {
            margin-top: 4px;
        }
    }

    span {
        font-size: 14px;
        color: #777;
    }
}

.dark-layer .team-info > h3, .dark-layer2 .team-info > h3, .dark-layer3 .team-info > h3, .blue-layer .team-info > h3 {
    color: #fff;
}

/*===== Page Title Style =====*/

.page-top-wrap > h1 {
    font-size: 3.4375rem;
}

.dark-layer3 .page-top-wrap > h1 {
    color: #fff;
}


/*===== Services Detail Style =====*/

.serv-detail-info-inner {
    padding-left: 6.25rem;
    position: relative;

    > {
        i {
            font-size: 4.375rem;
            position: absolute;
            left: 0;
            top: 0;
        }

        h2 {
            font-size: 3rem;
            font-weight: 600;
            max-width: 85%;
        }
    }
}

.serv-detail-info p {
    font-size: 1rem;
    margin-top: 2rem;
}

.serv-detail-desc {
    margin-top: 1.125rem;

    a {
        display: block;
        margin-top: 1.875rem;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color-1;
            opacity: .3;
        }

        &:hover:before {
            opacity: .5;
        }
    }

    padding: 0 6.25rem;

    > p {
        margin-top: 2.8125rem;

        + p {
            margin-top: 1.5625rem;
        }
    }
}

/*===== Contact =====*/

.contact-map {
    height: 35.625rem;
}

.contact-info-wrap {
    left: 6.25rem;
    right: 6.25rem;
    bottom: 1.25rem;
    background-color: #fff;
    padding: 0 6.25rem 1.875rem;
}

.contact-info-box {
    margin-top: 1.875rem;

    > {
        i {
            display: block;
            font-size: 2.5rem;
            line-height: 2.5rem;
        }

        strong {
            display: block;
            font-weight: 600;
            color: $color-1;
            margin-bottom: 6px;
        }

        span, a, p {
            font-size: 14px;
            color: #777;
            margin-top: 2px;
        }

        i + strong {
            margin-top: 1.25rem;
        }
    }
}

/*===== Blog Detail =====*/

.post-detail > {
    img + h2 {
        margin-top: 2.0625rem;
    }

    h2 {
        font-size: 1.5rem;

        + p {
            margin-top: 14px;
        }
    }

    p {
        line-height: 1.875rem;

        + {
            p {
                margin-top: 1.875rem;
            }

            .post-detail-gallery-video-box {
                margin-top: 2.5rem;
            }
        }
    }

    .post-detail-gallery-video-box + p {
        margin-top: 2.5rem;
    }
}

.detail-gal {
    margin-top: 10px;

    a {
        display: block;
        overflow: hidden;
        margin-top: 1.875rem;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color-1;
            opacity: .3;
        }

        &:hover:before {
            opacity: .5;
        }
    }

    + p {
        margin-top: 2.5rem;
    }
}

blockquote {
    font-size: 1.95rem;
    font-style: italic;
    line-height: 3rem;
    position: relative;
    background-color: #ecedef;
    padding: 2.5rem 3.125rem 3.125rem;
    margin: 2.8125rem 0;

    > p {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        font-family: inherit;

        &::before, &::after {
            content: "";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-style: normal;
            color: $color-1;
            position: relative;
            font-size: 1rem;
            line-height: initial;
        }

        &::before {
            content: "\f10d";
            left: -5px;
            top: -1.125rem;
        }

        &::after {
            content: "\f10e";
            right: -5px;
            top: -10px;
        }
    }
}

.post-detail > p + .detail-share {
    border-top: 1px solid #e8e8e8;
    margin-top: 2.5rem;
    padding-top: 1.5625rem;
}

.detail-share > {
    span {
        display: inline-block;
        color: $color-1;
    }

    a {
        display: inline-block;
        font-size: 1.125rem;
        vertical-align: middle;
        margin-left: .9375rem;
    }
}


/*===== Sidebar =====*/

.widget2 {
    background-color: #f8f8f9;
    padding: 1.875rem;
    overflow: hidden;

    + .widget2 {
        margin-top: 3.125rem;
    }
}

.about-widget {
    margin-top: 1.125rem;
}

.about-widget-img {
    position: relative;

    + h4 {
        margin-top: 1.5625rem;
    }

    > a {
        color: #fff;
        font-size: 14px;
        line-height: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        left: -10px;
        top: 10px;

        &:hover, &:focus {
            background-color: $color-1;
        }
    }
}

.about-widget > {
    h4 {
        font-size: 1.125rem;
        font-weight: 600;

        + p {
            margin-top: 1.375rem;
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.75rem;

        + span {
            border-top: 1px solid #e2e2e4;
            margin-top: 1.25rem;
            padding-top: .75rem;
        }
    }

    span {
        font-size: 1rem;
        color: #777;

        img {
            margin-right: 1.25rem;
        }
    }
}

.widget2 {
    > {
        h3 {
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 1.5625rem;
        }

        form {
            position: relative;

            input {
                background-color: #fff;
                width: 100%;
                border: 1px solid #e2e2e4;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                font-size: 14px;
                height: 3.4375rem;
                padding: 1rem 2.5rem 1rem 1.875rem;
            }

            button {
                position: absolute;
                right: 0;
                width: 2.5rem;
                bottom: 0;
                top: 0;
                background-color: transparent;
            }
        }
    }

    ul {
        margin-top: -.75rem;

        li {
            width: 100%;
            font-size: 14px;
            position: relative;

            a {
                display: inline-block;
                padding-left: 1.5625rem;
            }
        }
    }

    &.category_widget ul li {
        text-align: right;

        a {
            float: left;
        }
    }

    ul li {
        a {
            &::before, &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 4px;
                height: .9375rem;
                width: .9375rem;
                -webkit-border-radius: 2px;
                border-radius: 2px;
            }

            &::before {
                border: 1px solid #e5f1f3;
                background-color: #fff;
            }

            &:after {
                opacity: 0;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }
        }

        &:hover > a::after, a:focus::after {
            opacity: 1;
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            transform: scale(0.5);
        }

        &:not(:first-child) {
            margin-top: .75rem;
        }
    }
}

.tagclouds {
    > a {
        color: #fff;
        display: inline-block;
        background-color: $color-1;
        margin: 0 4px 8px;
        font-size: 14px;
        padding: 5.5px 1.25rem;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            left: 50%;
            right: 50%;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &:hover:before, &:focus:before {
            opacity: 1;
            left: 0;
            right: 0;
        }
    }

    margin: 0 -4px -8px;
    display: flex;
    flex-wrap: wrap;
}

.widget2 ul li span.rate {
    color: var(--color3);
}

.blog-mini-post {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > a {
        flex: 0 0 3.75rem;
        height: 3.75rem;
        line-height: 3.75rem;
        text-align: center;
        background-color: #eef3f6;

        + .blog-mini-post-info {
            flex: 0 0 calc(100% - 3.75rem);
            max-width: calc(100% - 3.75rem);
            padding-left: 1.125rem;
        }
    }
}

.blog-mini-post-info > {
    h4 {
        font-size: 14px;
        font-weight: 500;
    }

    span {
        font-size: 13px;
        margin-top: 2px;

        &.mini-post-date {
            color: #414042;
        }

        &.mini-post-comments {
            color: #777;
        }

        i {
            margin-right: 5px;
        }
    }
}

.blog-mini-post:not(:first-child) {
    margin-top: 1.125rem;
}

.widget-video-box > a {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    height: 6.25rem;
    line-height: 6.25rem;
    width: 6.25rem;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);

    &:hover, &:focus {
        background-color: $color-1;
    }
}

